# comment

.direnv/
.venv/
Dockerfile*
.env*
.editorconfig
.git
.github
.cache
.gitlab-ci.yml

Dockerfile
.DS_Store

local/
.dvc/
data/
var
vendor
job.nomad
.gitlab-ci.yml
tests/
bin/
etc/

local/
.dvc/
data/
var/
tests/
bin/
etc/

hooks/
docs/
*.md
!README.md
!CHANGELOG.md

target/
report/
node_modules/
scripts/
docker/
megalinter-reports/
#roles/

__pycache__/
.vscode/
.idea/
.pytest_cache/
.coverage
