# comment

.direnv/
.venv/
Dockerfile*
.env*
.editorconfig
.git
.github
.cache

local/
.dvc/
data/
var/
tests/
bin/
etc/

hooks/
docs/
*.md
!README.md

target/
node_modules/
scripts/
docker/
#roles/
megalinter-report/

__pycache__/
.vscode/
.idea/
.pytest_cache/
.coverage
