#!/bin/bash

#
# Commands dependencies
# =====================
#
DIRENV_CMD_DEPENDENCIES="unzip tar mkdir curl chmod rm git make"
for mandatory_cmd in ${DIRENV_CMD_DEPENDENCIES}; do
  if [ -z "$(which "${mandatory_cmd}")" ]; then
    echo "===> Mandatory command not found: ${mandatory_cmd}"
    exit 1
  fi
done

#
# Direnv configuration
# =====================
#

export DIRENV_TMP_DIR="${PWD}/.direnv"
export DIRENV_BIN_DIR="${DIRENV_TMP_DIR}/bin"
if [ ! -e "${DIRENV_BIN_DIR}" ]; then
  mkdir -p "${DIRENV_BIN_DIR}"
fi
export PATH="${DIRENV_BIN_DIR}:${PATH}"

# shellcheck disable=SC2086
DIRENV_PYTHON_LIBS_DIR_RELATIVE="$(find ${DIRENV_TMP_DIR} -type d -name site-packages)"
# python package are in venv
if [ ! -e "${DIRENV_PYTHON_LIBS_DIR_RELATIVE}" ]; then
  # shellcheck disable=SC2086
  DIRENV_PYTHON_LIBS_DIR_RELATIVE="$(find ${VENV_TMP_DIR} -type d -name site-packages)"
fi
# shellcheck disable=SC2155
export DIRENV_PYTHON_LIBS_DIR="$(realpath ${DIRENV_PYTHON_LIBS_DIR_RELATIVE})"

if type lsb_release >/dev/null 2>&1; then
  # linuxbase.org
  OS=$(lsb_release -si)
  # shellcheck disable=SC2034
  VER=$(lsb_release -sr)
fi

#
# Other configuration
# =====================
#

#sudo apt install openjdk-17-dbg
#sudo update-java-alternatives -s java-1.17.0-openjdk-amd64

#
# Node configuration
# =====================
#

export NODE_VERSIONS=${NODE_VERSIONS:-"v24.11.1"}

if [ -f ".nvmrc" ]; then
  #
  # Nvm installation
  # ==========================
  #
  # curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
  NVM_VERSION=${NVM_VERSION:-"v0.39.7"}
  NVM_PKG_URL="https://raw.githubusercontent.com/nvm-sh/nvm/${NVM_VERSION}/install.sh"
  if [ ! -e "${HOME}/.nvm/nvm.sh" ]; then
    echo "===> Getting nvm:${NVM_VERSION} (can take a while to execute)"
    curl -s -L "${NVM_PKG_URL}" | bash
    echo "nvm install ${NODE_VERSIONS}"
    nvm install "${NODE_VERSIONS}" || true
  fi

  # shellcheck disable=SC1091
  # source "${HOME}/.nvm/nvm.sh"
  # nvm use ${NODE_VERSIONS}
fi

# layout_node

# Or a specific version
#use node "${NODE_VERSIONS}"
#use_nvm "${NODE_VERSIONS}"

#export PATH="./node_modules/.bin:${PATH}"

#
# Python configuration
# =====================
#

export PYTHON_VERSION=${PYTHON_VERSION:-"3.12.10"}

#
# Python pyenv installation
# ==========================
#
PYENV_PKG_URL="https://pyenv.run"
if [ ! -e "${HOME}/.pyenv/bin/pyenv" ]; then
  echo "===> Getting pyenv (can take a while to execute)"
  curl -s -L "${PYENV_PKG_URL}" | bash
  echo "===> Run : pyenv init"
  echo "===> Run : pyenv local ${PYTHON_VERSION}"
fi

export VENV_TMP_DIR="${PWD}/.venv"
export VENV_BIN_DIR="${VENV_TMP_DIR}/bin"

# check if python version is set in current dir
# .python-version will be created by : pyenv local ${PYTHON_VERSION}
if [ -f ".python-version" ]; then
  if [ ! -d "${VENV_TMP_DIR}" ]; then
    echo "👉 Installing virtualenv for $(cat .python-version) 👈"
    # if we didn't install `py2venv` for python 2.x, we would need to use
    # `virtualenv`, which you would have to install separately.
    python -m venv "${VENV_TMP_DIR}"
  fi
  echo "👉 Activating $(cat .python-version) virtualenv"
  # shellcheck disable=SC1091
  source "${VENV_BIN_DIR}/activate"
  # announce python version and show the path of the current python in ${PATH}
  echo "Virtualenv has been activated for $(cat .python-version)"
  # echo "$(which python)"
fi

# if command -v pyenv >/dev/null 2>&1; then
#   # layout pyenv "${PYTHON_VERSION}"
#   layout pyenv
# elif command -v conda >/dev/null 2>&1; then
#   layout_anaconda
#   echo "pip3 install chardet"
#   echo "conda create -n textgen python=${PYTHON_VERSION}"
#   conda activate textgen
# else
#   layout_python3
# fi

if command -v pyenv >/dev/null 2>&1; then
  #
  # Python pip requirements
  # ==========================
  #
  for VERSION in $(pyenv versions --bare | grep -E '^2.'); do
    pyenv shell "${VERSION}" 2>/dev/null
    pip install py2venv
  done

  #
  # Python pip upgrade
  # ==========================
  #
  # curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
  for VERSION in $(pyenv versions --bare); do
    pyenv shell "${VERSION}" 2>/dev/null
    # pip install --upgrade pip
  done
fi

# if pyenv and venv
if [ -f ".python-version" ]; then
  #
  # Python pipenv installation
  # ==========================
  #
  # python -m pip install pipenv==2025.0.4
  PIPENV_VERSION=${PIPENV_VERSION:-"2025.0.4"}
  if [ ! -e "${VENV_BIN_DIR}/pipenv" ]; then
    echo "===> 👉 Getting pipenv:${PIPENV_VERSION} (can take a while to execute) 👈"
    python -m pip install pipenv=="${PIPENV_VERSION}"
  fi

  #
  # Python 3 requirements
  # ==========================
  #
  echo "👉 python -m pipenv install --dev --site-packages --clear"
  # python -m pipenv install --dev --site-packages --ignore-pipfile 2>/dev/null
  # echo python -m pipenv install --dev --site-packages --ignore-pipfile --verbose >pipenv.log 2>&1
  # echo "👉 poetry install --with format,test,extra,open_telemetry,api,deployment,influxdb,panda,temporal,utils,webui"

  #
  # Below install what you do not have already in Pipfile.lock or requirements.txt
  # ==========================

  #
  # Python pre-commit installation
  # ==========================
  #
  # python -m pip install pre-commit==4.5.0
  PRECOMMIT_VERSION=${PRECOMMIT_VERSION:-"4.5.0"}
  if [ ! -e "${VENV_BIN_DIR}/pre-commit" ]; then
    echo "===> 👉 Getting pre-commit:${PRECOMMIT_VERSION} (can take a while to execute) 👈"
    python -m pip install pre-commit=="${PRECOMMIT_VERSION}" # nosemgrep
  fi

  # pre-commit install 2>/dev/null || true

  #
  # Ansible CLI installation
  # ==========================
  #
  # python -m pip install --user https://github.com/ansible/ansible/archive/stable-2.19.tar.gz
  ANSIBLE_VERSION=${ANSIBLE_VERSION:-"2.19"}
  ANSIBLE_PKG_URL="https://github.com/ansible/ansible/archive/stable-${ANSIBLE_VERSION}.tar.gz"
  if [ ! -e "${VENV_BIN_DIR}/ansible" ]; then
    echo "===> Getting ansible:${ANSIBLE_VERSION} (can take a while to execute)"
    python -m pip install "${ANSIBLE_PKG_URL}"
  fi

  #
  # Ansible configuration
  # =====================
  #
  export ANSIBLE_LIBRARY="${PWD}/plugins/modules:${ANSIBLE_LIBRARY}"
  #export ANSIBLE_SSH_ARGS="-F ${PWD}/ssh.cfg"
  #export ANSIBLE_INVENTORY="hosts"
  export ANSIBLE_COLLECTIONS_PATH="${DIRENV_TMP_DIR}"

fi

#
# GO installation
# ==========================
#

# curl -O https://storage.googleapis.com/golang/go1.22.4.linux-amd64.tar.gz
GO_VERSION="1.25.5"
GO_URL="https://go.dev/dl"
GO_ARCH="linux-amd64"
GO_PKG_NAME="go${GO_VERSION}.${GO_ARCH}.tar.gz"
GO_PKG_PATH="${DIRENV_TMP_DIR}/${GO_PKG_NAME}"
GO_PKG_URL="${GO_URL}/${GO_PKG_NAME}"
if [ ! -e "${DIRENV_BIN_DIR}/go/bin/go" ]; then
  echo "===> 👉 Getting go:${GO_VERSION} (can take a while to execute) 👈"
  curl -s -L "${GO_PKG_URL}" -o "${GO_PKG_PATH}"
  tar -xf "${GO_PKG_PATH}" -C "${DIRENV_BIN_DIR}"
  rm -f "${GO_PKG_PATH}"
fi

PATH_add "${DIRENV_BIN_DIR}/go/bin/"
# export GOROOT="$(go${GO_VERSION} env GOROOT)"
# shellcheck disable=SC2155
export GOROOT="$(go env GOROOT)"
# PATH_add "$(go${GO_VERSION} env GOROOT)/bin"

if ! command -v go &>/dev/null; then
  echo "Go is not installed. Please install Go ${GO_VERSION} 👉 ${GO_URL}"
  exit 1
fi
if ! go version | grep -q "go1.22"; then
  echo "Go is not installed. Please install Go ${GO_VERSION} 👉 ${GO_URL}"
  exit 1
fi

#
# GO sec installation
# ==========================
#
# curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.11.0
GO_SEC_VERSION="2.11.0"
GO_SEC_PKG_URL="https://raw.githubusercontent.com/securego/gosec/master/install.sh"
if [ ! -e "${HOME}/go/bin/gosec" ]; then
  echo "===> 👉 Getting go sec:${GO_SEC_VERSION} (can take a while to execute) 👈"
  curl -sfL "${GO_SEC_PKG_URL}" | sh -s -- -b "$(go env GOPATH)/bin" "v${GO_SEC_VERSION}"
fi

# layout go

use mise

#
# Environment configuration
# =========================
#
#

DOTENV_ADDONS=".env .env.secrets"
# shellcheck disable=SC2155
for addon in ${DOTENV_ADDONS}; do
  if [ -e "${PWD}/${addon}" ]; then
    dotenv "${PWD}/${addon}"
  fi
done

ENV_ADDONS=".env.local"
for addon in ${ENV_ADDONS}; do
  if [ -e "${PWD}/${addon}" ]; then
    # shellcheck disable=SC1090
    source "${PWD}/${addon}"
  fi
done

# See https://github.com/direnv/direnv/wiki/PS1
unset PS1
#!/bin/bash

#
# Commands dependencies
# =====================
#
DIRENV_CMD_DEPENDENCIES="unzip tar mkdir curl chmod rm git make"
for mandatory_cmd in ${DIRENV_CMD_DEPENDENCIES}; do
  if [ -z "$(which "${mandatory_cmd}")" ]; then
    echo "===> Mandatory command not found: ${mandatory_cmd}"
    exit 1
  fi
done

#
# Direnv configuration
# =====================
#

export DIRENV_TMP_DIR="${PWD}/.direnv"
export DIRENV_BIN_DIR="${DIRENV_TMP_DIR}/bin"
if [ ! -e "${DIRENV_BIN_DIR}" ]; then
  mkdir -p "${DIRENV_BIN_DIR}"
fi
export PATH="${DIRENV_BIN_DIR}:${PATH}"

# shellcheck disable=SC2086
DIRENV_PYTHON_LIBS_DIR_RELATIVE="$(find ${DIRENV_TMP_DIR} -type d -name site-packages)"
# python package are in venv
if [ ! -e "${DIRENV_PYTHON_LIBS_DIR_RELATIVE}" ]; then
  # shellcheck disable=SC2086
  DIRENV_PYTHON_LIBS_DIR_RELATIVE="$(find ${VENV_TMP_DIR} -type d -name site-packages)"
fi
# shellcheck disable=SC2155
export DIRENV_PYTHON_LIBS_DIR="$(realpath ${DIRENV_PYTHON_LIBS_DIR_RELATIVE})"

if type lsb_release >/dev/null 2>&1; then
  # linuxbase.org
  OS=$(lsb_release -si)
  # shellcheck disable=SC2034
  VER=$(lsb_release -sr)
fi

#
# Other configuration
# =====================
#

#sudo apt install openjdk-17-dbg
#sudo update-java-alternatives -s java-1.17.0-openjdk-amd64

#
# Node configuration
# =====================
#

export NODE_VERSIONS=${NODE_VERSIONS:-"v24.11.1"}

if [ -f ".nvmrc" ]; then
  #
  # Nvm installation
  # ==========================
  #
  # curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.7/install.sh | bash
  NVM_VERSION=${NVM_VERSION:-"v0.39.7"}
  NVM_PKG_URL="https://raw.githubusercontent.com/nvm-sh/nvm/${NVM_VERSION}/install.sh"
  if [ ! -e "${HOME}/.nvm/nvm.sh" ]; then
    echo "===> Getting nvm:${NVM_VERSION} (can take a while to execute)"
    curl -s -L "${NVM_PKG_URL}" | bash
    echo "nvm install ${NODE_VERSIONS}"
    nvm install "${NODE_VERSIONS}" || true
  fi

  # shellcheck disable=SC1091
  # source "${HOME}/.nvm/nvm.sh"
  # nvm use ${NODE_VERSIONS}
fi

# layout_node

# Or a specific version
#use node "${NODE_VERSIONS}"
#use_nvm "${NODE_VERSIONS}"

#export PATH="./node_modules/.bin:${PATH}"

#
# Python configuration
# =====================
#

export PYTHON_VERSION=${PYTHON_VERSION:-"3.12.10"}

#
# Python pyenv installation
# ==========================
#
PYENV_PKG_URL="https://pyenv.run"
if [ ! -e "${HOME}/.pyenv/bin/pyenv" ]; then
  echo "===> Getting pyenv (can take a while to execute)"
  curl -s -L "${PYENV_PKG_URL}" | bash
  echo "===> Run : pyenv init"
  echo "===> Run : pyenv local ${PYTHON_VERSION}"
fi

export VENV_TMP_DIR="${PWD}/.venv"
export VENV_BIN_DIR="${VENV_TMP_DIR}/bin"

# check if python version is set in current dir
# .python-version will be created by : pyenv local ${PYTHON_VERSION}
if [ -f ".python-version" ]; then
  if [ ! -d "${VENV_TMP_DIR}" ]; then
    echo "👉 Installing virtualenv for $(cat .python-version) 👈"
    # if we didn't install `py2venv` for python 2.x, we would need to use
    # `virtualenv`, which you would have to install separately.
    python -m venv "${VENV_TMP_DIR}"
  fi
  echo "👉 Activating $(cat .python-version) virtualenv"
  # shellcheck disable=SC1091
  source "${VENV_BIN_DIR}/activate"
  # announce python version and show the path of the current python in ${PATH}
  echo "Virtualenv has been activated for $(cat .python-version)"
  # echo "$(which python)"
fi

# if command -v pyenv >/dev/null 2>&1; then
#   # layout pyenv "${PYTHON_VERSION}"
#   layout pyenv
# elif command -v conda >/dev/null 2>&1; then
#   layout_anaconda
#   echo "pip3 install chardet"
#   echo "conda create -n textgen python=${PYTHON_VERSION}"
#   conda activate textgen
# else
#   layout_python3
# fi

if command -v pyenv >/dev/null 2>&1; then
  #
  # Python pip requirements
  # ==========================
  #
  for VERSION in $(pyenv versions --bare | grep -E '^2.'); do
    pyenv shell "${VERSION}" 2>/dev/null
    pip install py2venv
  done

  #
  # Python pip upgrade
  # ==========================
  #
  # curl https://bootstrap.pypa.io/get-pip.py -o get-pip.py
  for VERSION in $(pyenv versions --bare); do
    pyenv shell "${VERSION}" 2>/dev/null
    # pip install --upgrade pip
  done
fi

# if pyenv and venv
if [ -f ".python-version" ]; then
  #
  # Python pipenv installation
  # ==========================
  #
  # python -m pip install pipenv==2025.0.4
  PIPENV_VERSION=${PIPENV_VERSION:-"2025.0.4"}
  if [ ! -e "${VENV_BIN_DIR}/pipenv" ]; then
    echo "===> 👉 Getting pipenv:${PIPENV_VERSION} (can take a while to execute) 👈"
    python -m pip install pipenv=="${PIPENV_VERSION}"
  fi

  #
  # Python 3 requirements
  # ==========================
  #
  echo "👉 python -m pipenv install --dev --site-packages --clear"
  # python -m pipenv install --dev --site-packages --ignore-pipfile 2>/dev/null
  # echo python -m pipenv install --dev --site-packages --ignore-pipfile --verbose >pipenv.log 2>&1
  # echo "👉 poetry install --with format,test,extra,open_telemetry,api,deployment,influxdb,panda,temporal,utils,webui"

  #
  # Below install what you do not have already in Pipfile.lock or requirements.txt
  # ==========================

  #
  # Python pre-commit installation
  # ==========================
  #
  # python -m pip install pre-commit==4.5.0
  PRECOMMIT_VERSION=${PRECOMMIT_VERSION:-"4.5.0"}
  if [ ! -e "${VENV_BIN_DIR}/pre-commit" ]; then
    echo "===> 👉 Getting pre-commit:${PRECOMMIT_VERSION} (can take a while to execute) 👈"
    python -m pip install pre-commit=="${PRECOMMIT_VERSION}" # nosemgrep
  fi

  # pre-commit install 2>/dev/null || true

  #
  # Ansible CLI installation
  # ==========================
  #
  # python -m pip install --user https://github.com/ansible/ansible/archive/stable-2.19.tar.gz
  ANSIBLE_VERSION=${ANSIBLE_VERSION:-"2.19"}
  ANSIBLE_PKG_URL="https://github.com/ansible/ansible/archive/stable-${ANSIBLE_VERSION}.tar.gz"
  if [ ! -e "${VENV_BIN_DIR}/ansible" ]; then
    echo "===> Getting ansible:${ANSIBLE_VERSION} (can take a while to execute)"
    python -m pip install "${ANSIBLE_PKG_URL}"
  fi

  #
  # Ansible configuration
  # =====================
  #
  export ANSIBLE_LIBRARY="${PWD}/plugins/modules:${ANSIBLE_LIBRARY}"
  #export ANSIBLE_SSH_ARGS="-F ${PWD}/ssh.cfg"
  #export ANSIBLE_INVENTORY="hosts"
  export ANSIBLE_COLLECTIONS_PATH="${DIRENV_TMP_DIR}"

fi

#
# GO installation
# ==========================
#

# curl -O https://storage.googleapis.com/golang/go1.22.4.linux-amd64.tar.gz
GO_VERSION="1.25.5"
GO_URL="https://go.dev/dl"
GO_ARCH="linux-amd64"
GO_PKG_NAME="go${GO_VERSION}.${GO_ARCH}.tar.gz"
GO_PKG_PATH="${DIRENV_TMP_DIR}/${GO_PKG_NAME}"
GO_PKG_URL="${GO_URL}/${GO_PKG_NAME}"
if [ ! -e "${DIRENV_BIN_DIR}/go/bin/go" ]; then
  echo "===> 👉 Getting go:${GO_VERSION} (can take a while to execute) 👈"
  curl -s -L "${GO_PKG_URL}" -o "${GO_PKG_PATH}"
  tar -xf "${GO_PKG_PATH}" -C "${DIRENV_BIN_DIR}"
  rm -f "${GO_PKG_PATH}"
fi

PATH_add "${DIRENV_BIN_DIR}/go/bin/"
# export GOROOT="$(go${GO_VERSION} env GOROOT)"
# shellcheck disable=SC2155
export GOROOT="$(go env GOROOT)"
# PATH_add "$(go${GO_VERSION} env GOROOT)/bin"

if ! command -v go &>/dev/null; then
  echo "Go is not installed. Please install Go ${GO_VERSION} 👉 ${GO_URL}"
  exit 1
fi
if ! go version | grep -q "go1.22"; then
  echo "Go is not installed. Please install Go ${GO_VERSION} 👉 ${GO_URL}"
  exit 1
fi

#
# GO sec installation
# ==========================
#
# curl -sfL https://raw.githubusercontent.com/securego/gosec/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.11.0
GO_SEC_VERSION="2.11.0"
GO_SEC_PKG_URL="https://raw.githubusercontent.com/securego/gosec/master/install.sh"
if [ ! -e "${HOME}/go/bin/gosec" ]; then
  echo "===> 👉 Getting go sec:${GO_SEC_VERSION} (can take a while to execute) 👈"
  curl -sfL "${GO_SEC_PKG_URL}" | sh -s -- -b "$(go env GOPATH)/bin" "v${GO_SEC_VERSION}"
fi

# layout go

use mise

#
# Environment configuration
# =========================
#
#

DOTENV_ADDONS=".env .env.secrets"
# shellcheck disable=SC2155
for addon in ${DOTENV_ADDONS}; do
  if [ -e "${PWD}/${addon}" ]; then
    dotenv "${PWD}/${addon}"
  fi
done

ENV_ADDONS=".env.local"
for addon in ${ENV_ADDONS}; do
  if [ -e "${PWD}/${addon}" ]; then
    # shellcheck disable=SC1090
    source "${PWD}/${addon}"
  fi
done

# See https://github.com/direnv/direnv/wiki/PS1
unset PS1
