---

- name: Install gcc
  hosts: cpp

  roles:
#    - role: alban.andrieu.gcc
#      gcc_version: "=4:9.2.1-3.1ubuntu1" # g++ 9 on ubuntu 19
#      gcc_version: "=4:7.4.0-1ubuntu2.3" # g++ 7 on ubuntu 18
#      gcc_priority: 10

#    - role: alban.andrieu.gcc
#      gcc_version: "-4.8"
#      gcc_priority: 10

#    - role: alban.andrieu.gcc
#      gcc_version: "-4.9"
#      gcc_priority: 20

#    - role: alban.andrieu.gcc
#      gcc_version: "-5"
#      gcc_priority: 50

#    - role: alban.andrieu.gcc
#      gcc_version: "-6"
#      gcc_priority: 60

    - role: alban.andrieu.gcc
      gcc_version: "-7"
      gcc_priority: 70

    - role: alban.andrieu.gcc
      gcc_version: "-8"
      gcc_priority: 80

    - role: alban.andrieu.gcc
      gcc_version: "-9"
      gcc_priority: 90

- name: Install cpp
  hosts: cpp

  roles:
    - alban.andrieu.cpp

  vars:
      #ubuntu 16 cppunit_version: "-1.13-0v5"
      #cppunit_version: "-1.14-0=1.14.0-3" # ubuntu 18
      cppunit_version: "-dev=1.14.0-3" # ubuntu 18
      #cppunit_version: "1.14.0-4" # ubuntu 19
      #ubuntu 16 boost_version: "1.61"
      #boost_version: "1.65.1-dev=1.65.1+dfsg-0ubuntu5" # ubuntu 18
      boost_version: "-dev=1.65.1.0ubuntu1" # ubuntu 18
      #boost_version: "1.67.0-13ubuntu1"
      #boost_version: "1.67.0-17ubuntu8" # ubuntu 19
      #apt-get install libboost-system1.67-dev libboost-thread1.67-dev # ubuntu 19
      #boost_version: "1.71.0.0ubuntu1" # ubuntu 19
      #clang_version: "-4.0" # clang 4 on ubuntu 16
      clang_version: "=1:6.0-41~exp5~ubuntu1" # clang 6 on ubuntu 18
      #clang_version: "-6=1:6.0-1ubuntu2" # clang 6 on ubuntu 18
      #clang_version: "-9=1:9-2~ubuntu18.04.2" # clang 9 on ubuntu 18
      #clang_version: "=1:9.0-49~exp1" # clang 9 on ubuntu 19
      cpp_package_list: []
